<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Create Cardapio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="../templates/estilo/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../templates/estilo/css/jumbotron-narrow.css" rel="stylesheet">   

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Inicio</a></li>
            <li role="presentation"><a href="cardapio">Editar Cardapio</a></li>
            <li role="presentation"><a href="pedido">Ver Cardapio</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">WaiterLess</h3>
      </div>
         
    <div class="row">
        <div class="col-lg-12">
            <h1>Item Cardapio</h1>
            <form class="form-horizontal" action="#" th:action="@{/cardapio}" th:object="${item}" method="post">

            <div class="form-group">
              <label for="id" class="col-sm-2 control-label">Id</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="id" placeholder="Id">
              </div>
            </div>

            <div class="form-group">
              <label for="nome" class="col-sm-2 control-label">Nome</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="nome" placeholder="Nome">
              </div>
            </div>

            <div class="form-group">
              <label for="descricao" class="col-sm-2 control-label">Descrição</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="descricao" placeholder="Descrição">
              </div>
            </div>    

            <div class="form-group">
              <label for="classificacao" class="col-sm-2 control-label">Classificação</label>
              <div class="col-sm-10">
                <div class="radio">
                  <label>
                    <input type="radio" name="classificacao" id="classificacao" value="bebida" checked>
                  Bebida
                  </label>
                </div>

                <div class="radio">
                  <label>
                    <input type="radio" name="classificacao" id="classificacao" value="prato" checked>
                  Prato
                  </label>
                </div>

                <div class="radio">
                  <label>
                    <input type="radio" name="classificacao" id="classificacao" value="sobremesa" checked>
                  Sobremesa
                  </label>
                </div>                
              </div>
            </div>        



            <div class="form-group">
              <label for="valor" class="col-sm-2 control-label">Valor</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="valor" placeholder="Valor">
              </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" value="Submit" class="btn btn-default">Sign in</button>
                  <button type="reset" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>

            </form>
        </div>   
      </div>

      <footer class="footer">
        <p>&copy; 2017 Waiterless, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
