<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Submissão de Resultado</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="../templates/estilo/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../templates/estilo/css/jumbotron-narrow.css" rel="stylesheet">   

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Inicio</a></li>
            <li role="presentation"><a href="cardapio">Editar Cardapio</a></li>
            <li role="presentation"><a href="pedido">Ver Cardapio</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>
    	 
    <div class="row">
        <div class="col-lg-12">
			<h1>Resultado</h1>
			<p th:text="'id: ' + ${item.id}" />
			<p th:text="'descricao: ' + ${item.descricao}" />
			<p th:text="'classificacao: ' + ${item.classificacao}" />
			<p th:text="'valor: ' + ${item.valor}" />    
			<a href="/cardapio">Submeter outro formulário</a>
        </div>   
      </div>

      <footer class="footer">
        <p>&copy; 2017 Waiterless, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
